.modal {
	display: none;
	position: fixed;
	z-index: 4;
	padding-top: 10vh;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #0b0c10;
}

.modal-content {
	background-color: #1f2833;
	margin: auto;
	padding: 20px;
	border: 1px solid #45a29e;
	width: 80%;
}

.close {
	background-color: #45a29e;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #66fcf1;
	text-decoration: none;
	cursor: pointer;
}
